body{
  background-color:rgb(208, 255, 0);
  font-family:Verdana;
}
ul{  
  display: flex;  
  justify-content: space-around;

}
ul  li {  
  flex: 1;  
  list-style:none;
}
ul  li a {  
  padding:5px;
  margin:2%;
  background-color:white;
  display: inline-flex;
}
input{
  padding:5px;
  margin:5px;
}
label{
  width: 162px;
  display: inline-flex;
}
table{
  background-color:azure;
  border-collapse: collapse;
  width:100%;
  border:2px solid #ff6600;
}
td{
  padding:5px;
}
td:hover{
  background-color: rgb(212, 247, 184);
}