{% extends 'base.html' %} 
{% block content %}
    <h2>Report Item</h2>
    <form method="POST">
      <p><label for="name">Item Name</label><input name="name" id="name" value="{{name}}"></p>
      <p><label for="colour">Item Colour</label><input name="colour" value="{{colour}}"></p>
      <p><label for="room">Item Room</label><input name="room" value="{{room}}"></p>
      <p><label for="room">Date</label><input name="date" value="{{date}}" type="date"></p>
      <p><label for="room">Item Status</label>
      <select name="status">
        {% for st in allstatuses %}
            <option value="{{ st }}" {% if st == status %} selected {% endif %}> {{ st }} </option>
        {% endfor %}
      </select>
        </p>
      <p><input type="submit" value="Submit"></p>
      
    </form>
    <strong>{{msg}}</strong>
{% endblock %}
